* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: auto;
  color:  rgb(85, 187, 111); 
  text-decoration: none;
  font-family: "Bebas Neue", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(225 221 221);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
a { 
  font-size: 40px;
}
.topnav {
  overflow: hidden;
  background-color: rgb(204, 204, 203);
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-around;
  font-style: italic;
  flex-wrap: wrap;
}

.topnav a {
  float: left;
  color: #fff6f6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}
.h1m {
  text-align: center;
  font-size: 40px;
  color:  rgb(85, 187, 111);
  font-family: sans-serif;
  text-align: center;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 20px;
}
.p1 {
  text-align: center;
  color: black;
  font-size: 70px;
  margin-top: 70px;

 
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  flex-direction: row;
  gap: 25px;
  
}
.container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  flex-direction: row;
  gap: 25px;
}
p {
  padding-top: 10px;
  font-size: medium;
}
span {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(50px);
  display: inline-block;
  font-size: 120px;
}
span.fade {
  opacity: 1;
  transform: translateY(0px);
  font-size: 120px; 
  color: white;
 
}
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  

}

.flip-card-front {
  background-color: #bbb;
  color: black;
  margin: 0;
  background-color: rgb(85, 187, 111); 
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flip-card-back {
  background-color: white;
  color:  rgb(85, 187, 111);
  transform: rotateY(180deg);
  font-size: 100px

}


.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
 
}

.container4 {
  padding: 1em 0;
  float: left;
  width: 50%;
  margin-top: 60px;
}
@media screen and (max-width: 640px) {
  .container4 {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .container4 {
    width: 33.33333%;
  }
}

.container .title {
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 25px;
}

.content-details p {
  color: black;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}
.h2m {
  margin-top: 45%;
  font-size: 60px;
}
.h4m {
  margin-top: 200px;
  margin-bottom: 20px;
  letter-spacing: 4px;
    color: black;
  font-size: 70px;

}
.dropbtn {
  margin-top: 30px;
  margin-left: 70px;
  background-color:  rgb(85, 187, 111);
  color: white;
  padding: 16px;
  font-size: 40px;
  border: none;
  position: sticky;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
  position: sticky;
  position: -webkit-sticky;
  
}

.dropdown-content {
  margin-left: 90px;
  display: none;
  position: absolute;
  border-radius: 10px;
  color:  rgb(85, 187, 111);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
.dropdown-content a:hover {background-color:white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:  rgb(85, 187, 111);}

.logo, .p2 { 
  display: flex;
  justify-content: end;
  font-size: 70px;
  padding-right: 40px;
  margin-top: 0px;
  color: white;
}
.p5 { 
font-size: 35px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: black;
padding-left: 20%;
padding-right: 20%;
}